parameters:
  log_prod_path: '{{ site.vars.log_prod_path }}'
  log_prod_level: '{{ site.vars.log_prod_level }}'


  # GENERALE ===========================
  PRODIGE_VERSION :  "4.2"

  ######## SELON USAGE DU DEPLOIEMENT ########
  PATH_COMMUN :  "{{ wwwdir }}"
  PRODIGE_DEBUG :  "{{ prodige.debug }}"

  ######## UTILS PATHS ########

  CMD_WKHTMLTOPDF :  "{{ prodige.cmd_wkhtmltopdf }}"
  CMD_SHP2IMG     :  "{{ prodige.cmd_shp2img }}"
  CMD_PROJFILE    :  "{{ prodige.cmd_projfile }}"
  CMD_OGR2OGR    :  "{{ prodige.cmd_ogr2ogr }}"
  CMD_MAPCACHE    :  "{{ prodige.cmd_mapcache }}"

  ######## SITES PATHS ########

  #prodigeadminsite :
  PRODIGE_PATH_ADMINSITE : "{{ wwwprodige }}/adminsite/"
  PRODIGE_URL_ADMINSITE  : "https://{{ _url_adminsite }}"
  #prodigecatalogue :
  PRODIGE_PATH_CATALOGUE : "{{ wwwprodige }}/catalogue/"
  PRODIGE_URL_CATALOGUE  : "https://{{ _url_catalogue }}"
  #prodigefrontcarto :
  PRODIGE_PATH_FRONTCARTO : "{{ wwwprodige }}/carto/"
  PRODIGE_URL_FRONTCARTO  : "https://{{ _url_carto }}"
  PRODIGE_URL_FRONTVIEWER : "https://{{ _url_carto }}"
  #prodigetelecarto :
  PRODIGE_PATH_TELECARTO : "{{ wwwprodige }}/telecarto/"
  PRODIGE_URL_TELECARTO  : "https://{{ _url_telecarto }}"
  #prodigedatacarto :
  PRODIGE_PATH_DATACARTO : "{{ wwwprodige }}/datacarto/"
  PRODIGE_URL_DATACARTO  : "https://{{ _url_datacarto }}"
  #prodigeadmincarto :
  PRODIGE_PATH_ADMINCARTO : "{{ wwwprodige }}/admincarto/"
  PRODIGE_URL_ADMINCARTO  : "https://{{ _url_admincarto }}"
  #prodigeadmincarto :
  PRODIGE_PATH_ADMINMAPSERV : "{{ wwwprodige }}/mapserver_api/"
  PRODIGE_URL_ADMINMAPSERV  : "https://{{ _url_mapserver_api }}"
  #prodigeprinter :
  PRODIGE_PATH_FRONTCARTO_PRINTER : "{{ wwwprodige }}/print/"
  PRODIGE_URL_FRONTCARTO_PRINTER  : "https://{{ _url_print }}"
  #prodigetableviewer :
  PRODIGE_PATH_TABLEVIEWER : "{{ wwwprodige }}/table/"
  PRODIGE_URL_TABLEVIEWER  : "https://{{ _url_table }}"

  PRO_GEONETWORK_URLBASE    : "https://{{ _url_www }}/geonetwork/"
  PRO_GEONETWORK_DIRECTORY  : "{{ wwwprodige }}/geosource"
  
  #prodigedata :
  PRODIGE_PATH_DATA :  "{{ prodige.path_data }}/"
  PRODIGE_URL_DATA  :  "{{ prodige.url_data }}"

  ######## LOGS ########
  PRODIGE_PATH_LOGS:  "{{ prodige.path_log }}"

  #ALK_PATH_MAILING_QUEUE: "/home/prodige/QUEUE"

  ######## DATABASES ########
  #PRODIGE DATABASE
  prodige_driver:      '{{ prodige.prodige_driver }}'
  prodige_host:        '{{ prodige.prodige_host }}'
  prodige_port:        '{{ prodige.prodige_port }}'
  prodige_name:        '{{ prodige.prodige_name }}'
  prodige_user:        '{{ prodige.prodige_user }}'
  prodige_password:    '{{ prodige.prodige_password }}'
  prodige_charset :    '{{ prodige.prodige_charset }}'

  #USER TAMPON FOR DATABASE CREATION
  tampon_user:  '{{ prodige.tampon_user }}'
  tampon_password:  '{{ prodige.tampon_password }}'

  #CATALOGUE DATABASE
  catalogue_driver:    '{{ prodige.catalogue_driver }}'
  catalogue_host:      '{{ prodige.catalogue_host }}'
  catalogue_port:      '{{ prodige.catalogue_port }}'
  catalogue_name:      '{{ prodige.catalogue_name }}'
  catalogue_user:      '{{ prodige.catalogue_user }}'
  catalogue_password:  '{{ prodige.catalogue_password }}'
  catalogue_charset :  '{{ prodige.catalogue_charset }}'

  ######## LDAP ########
  ldap_host:  '{{ prodige.ldap_host }}'
  ldap_port:   '{{ prodige.ldap_port }}'
  ldap_base_dn:  '{{ prodige.ldap_base_dn }}'
  ldap_search_dn: '{{ prodige.ldap_manager_dn }}'
  ldap_password: '{{ prodige.ldap_password }}'

  ######## CAS ########
  cas_debug: '{{ prodige.cas_debug }}'
  cas_host: '{{ prodige.cas_host }}'
  cas_context:  '{{ prodige.cas_context }}'
  cas_port: '{{ prodige.cas_port }}'
  server_validation: {{ prodige.server_validation }}
  server_ca_cert_path:  '{{ prodige.server_ca_cert_path }}'
  cas_proxy_chain: {{ prodige.cas_proxy_chain }}
  cas_callback_url: '{{ prodige.cas_callback_url }}'
  phpcli_default_login : '{{ prodige.phpcli_default_login }}'
  phpcli_default_password : '{{ prodige.phpcli_default_password }}'

  ######## COMPLEX CONFIGS ########
  
  PRO_USER_INTERNET_USR_ID : "vinternet"
  # define if PRODIGE is in delegate user/profiles management mode(RESPIRE)
  PRO_INCLUDED : true
  THESAURUS_NAME : "prodige"

  PRODIGE_DNS_2_APP_PREFIX: '{{ prodige.dns_2_app_prefix }}'

  PRODIGE_DEFAULT_EPSG : "{{ prodige.default_epsg }}"
  PRODIGE_EPSG :
    2154  : "RGF93/Lambert 93"
    4965  : "RGF93 3D"
    4171  : "RGF93 2D"
    3942  : "Lambert 93 Conique conforme 1"
    3943  : "Lambert 93 Conique conforme 2"
    3944  : "Lambert 93 Conique conforme 3"
    3945  : "Lambert 93 Conique conforme 4"
    3946  : "Lambert 93 Conique conforme 5"
    3947  : "Lambert 93 Conique conforme 6"
    3948  : "Lambert 93 Conique conforme 7"
    3949  : "Lambert 93 Conique conforme 8"
    3950  : "Lambert 93 Conique conforme 9"
    27571 : "NTF(Paris) / Lambert zone 1"
    27572 : "NTF(Paris) / Lambert zone 2"
    27573 : "NTF(Paris) / Lambert zone 3"
    27574 : "NTF(Paris) / Lambert zone 4"
    27561 : "NTF(Paris) / Lambert Nord France"
    27562 : "NTF(Paris) / Lambert centre France"
    27563 : "NTF(Paris) / Lambert Sud France"
    27564 : "NTF(Paris) / Lambert Corse"
    4258  : "ETRS89 (INSPIRE)"
    3035  : "ETRS89 / ETRS-LAEA"
    4326  : "WGS84"   
    32620 : "WGS84 / UTM 20 Nord"
    2972  : "RGFG95 / UTM 22 Nord"
    2975  : "RGR92 / UTM 40 Nord"
    2971  : "CSG 67 / UTM 22 Nord"
    3312  : "CSG 67 / UTM 21 Nord"
    2973  : "Fort Desaix / UTM 20"
    4625  : "Fort Desaix"
    3727  : "Piton des neiges / Gauss Laborde Réunion"
    2987  : "IGN1950 / UTM 21 Nord"
    32738 : "WGS84 / UTM 38 Sud"
    32301 : "WGS72 / UTM 1 Sud"
    3296  : "RGPF / UTM 5 Sud"
    3297  : "RGPF / UTM 6 Sud"
    2980  : "Combani 1950 / UTM 38 sud"
    4471  : "Reseau Geodesique de Mayotte 2004 (RGM04)"
    3163  : "RGNC91-93 / Lambert New Caledoni"
    3169  : "RGNC91-93 / UTM 57"
    3170  : "RGNC91-93 / UTM 58"
    3171  : "RGNC91-93 / UTM 59"
    32630 : "WGS84 / UTM 30 Nord"
    32631 : "WGS84 / UTM 31 Nord"
    32632 : "WGS84 / UTM 32 Nord"

  PRODIGE_SAVEDCONTEXT_LIFETIME :
    "one_day" : "une journée"
    "seven_days" : "une semaine"
    "one_month" : "un mois"
    "permanent" : "permanente"
  
  app_mail: '{{ prodige.app_mail }}'
  debug_mail: '{{ prodige.debug_mail }}'
